.title {
  display: flex;
  align-items: center;
}

.subject {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 8px;
}

.item:global(.is-done) {
  opacity: 0.5;
}

.meta + .meta::before {
  content: ' • ';
}
